<?xml version="1.0"?>

<model>
  <name>iCub_self_collisions</name>
  <version>1.0</version>
  <sdf version='1.5'>collisions_model.sdf</sdf>

  <author>
    <name>Alexandre Antunes</name>
    <email>alexandre.gomespereira@iit.it</email>
  </author>

  <description>
    An iCub model with self collisions enabled to calculate the joint positions that result in self collision
  </description>
</model>